# Code owners for ArkUI ace_engine
[OpenHarmony adapter]
adapter/ohos/ @sunfei2021
adapter/ohos/sa_profile/ @lushi1202
adapter/ohos/services/  @lushi1202
adapter/ohos/capability/clipboard/  @xiexiyun
adapter/ohos/capability/distributed/  @lightningHo
adapter/ohos/capability/environment/  @liwenzhen3
adapter/ohos/capability/preference/  @liwenzhen3
adapter/ohos/capability/udmf/  @echoorchid @LongLie
adapter/ohos/capability/window_connection/  @lushi1202
adapter/ohos/capability/window_connection_ng/  @lushi1202
adapter/ohos/entrance/pa_engine/  @jayleehw

[Preview adapter]
adapter/preview/ @laigerendaqiu

[Interfaces source]
interfaces/ @sunfei2021

[Core Pipeline]
frameworks/core/pipeline/  @yan-shuifeng @lightningHo
frameworks/core/pipeline_ng/  @yan-shuifeng @lightningHo
frameworks/core/components_ng/base/  @yan-shuifeng @lightningHo
frameworks/core/components_ng/layout/  @yan-shuifeng @lightningHo
frameworks/core/components_ng/render/  @yan-shuifeng @lightningHo
frameworks/core/components_ng/render/adapter/  @yan-shuifeng @sunfei2021
frameworks/core/components_ng/layout/  @yan-shuifeng @yangfan229
frameworks/core/components_ng/property/  @yan-shuifeng
frameworks/core/components_ng/syntax/  @yan-shuifeng @lightningHo
frameworks/core/components_ng/manager/safe_area/  @zhoutianer

[Common source]
frameworks/core/common/  @yan-shuifeng @sunfei2021

[UI Components]
frameworks/core/components_ng/pattern/ability_component/  @lushi1202
frameworks/core/components_ng/pattern/action_sheet/  @cheng-feiwang
frameworks/core/components_ng/pattern/animator/  @hehongyang9
frameworks/core/components_ng/pattern/app_bar/  @cc520bf
frameworks/core/components_ng/pattern/badge/  @nickyjd
frameworks/core/components_ng/pattern/blank/  @xiexiyun
frameworks/core/components_ng/pattern/bubble/  @cheng-feiwang
frameworks/core/components_ng/pattern/button/  @zhang-xiao150
frameworks/core/components_ng/pattern/calendar/  @techbuilding
frameworks/core/components_ng/pattern/canvas_context/  @keerecles
frameworks/core/components_ng/pattern/canvas_renderer/  @keerecles
frameworks/core/components_ng/pattern/checkbox/  @zhang-xiao150
frameworks/core/components_ng/pattern/checkboxgroup/  @zhang-xiao150
frameworks/core/components_ng/pattern/common_view/  @yangfan229
frameworks/core/components_ng/pattern/container_modal/  @cc520bf
frameworks/core/components_ng/pattern/counter/  @zhang-xiao150
frameworks/core/components_ng/pattern/custom/  @yan-shuifeng
frameworks/core/components_ng/pattern/custom_paint/  @keerecles
frameworks/core/components_ng/pattern/data_panel/  @xzken
frameworks/core/components_ng/pattern/dialog/  @cheng-feiwang
frameworks/core/components_ng/pattern/divider/  @zhang-xiao150
frameworks/core/components_ng/pattern/effect_component/  @liuchao92
frameworks/core/components_ng/pattern/flex/  @xiexiyun
frameworks/core/components_ng/pattern/form/  @wangchensu1
frameworks/core/components_ng/pattern/gauge/  @zhang-xiao150
frameworks/core/components_ng/pattern/gesture/  @zheng-qiyi
frameworks/core/components_ng/pattern/grid/  @zcdqs
frameworks/core/components_ng/pattern/grid_col/  @xiexiyun
frameworks/core/components_ng/pattern/grid_container/  @xiexiyun
frameworks/core/components_ng/pattern/grid_row/  @xiexiyun
frameworks/core/components_ng/pattern/hyperlink/  @techbuilding
frameworks/core/components_ng/pattern/image/  @zhoutianer
frameworks/core/components_ng/pattern/image_animator/  @hehongyang9
frameworks/core/components_ng/pattern/indexer/  @aryawang
frameworks/core/components_ng/pattern/linear_layout/  @xiexiyun
frameworks/core/components_ng/pattern/linear_split/  @xiexiyun
frameworks/core/components_ng/pattern/list/  @yeyinglong_admin
frameworks/core/components_ng/pattern/loading_progress/  @cheng-feiwang
frameworks/core/components_ng/pattern/marquee/  @aryawang
frameworks/core/components_ng/pattern/menu/  @cheng-feiwang
frameworks/core/components_ng/pattern/model/  @
frameworks/core/components_ng/pattern/navigation/  @Armstrong15
frameworks/core/components_ng/pattern/navigator/  @Armstrong15
frameworks/core/components_ng/pattern/navrouter/  @Armstrong15
frameworks/core/components_ng/pattern/option/  @cheng-feiwang
frameworks/core/components_ng/pattern/overlay/  @yangfan229
frameworks/core/components_ng/pattern/panel/  @zhou-chaobo
frameworks/core/components_ng/pattern/patternlock/  @cheng-feiwang
frameworks/core/components_ng/pattern/picker/  @cheng-feiwang
frameworks/core/components_ng/pattern/plugin/  @wangchensu1
frameworks/core/components_ng/pattern/preview_mock/  @laigerendaqiu
frameworks/core/components_ng/pattern/progress/  @cheng-feiwang
frameworks/core/components_ng/pattern/qrcode/  @techbuilding
frameworks/core/components_ng/pattern/radio/  @zhang-xiao150
frameworks/core/components_ng/pattern/rating/  @cheng-feiwang
frameworks/core/components_ng/pattern/recycle_view/  @guozejun
frameworks/core/components_ng/pattern/refresh/  @aryawang
frameworks/core/components_ng/pattern/relative_container/  @nickyjd
frameworks/core/components_ng/pattern/remote_window/  @liuchao92
frameworks/core/components_ng/pattern/rendering_context/  @keerecles
frameworks/core/components_ng/pattern/rich_editor/  @jyj-0306
frameworks/core/components_ng/pattern/root/  @zhoutianer
frameworks/core/components_ng/pattern/scroll/  @rongShao-Z
frameworks/core/components_ng/pattern/scroll_bar/  @rongShao-Z
frameworks/core/components_ng/pattern/scrollable/  @yeyinglong_admin
frameworks/core/components_ng/pattern/search/  @zhang-xiao150
frameworks/core/components_ng/pattern/security_component/  @
frameworks/core/components_ng/pattern/select/  @cheng-feiwang
frameworks/core/components_ng/pattern/select_overlay/  @lijuan124
frameworks/core/components_ng/pattern/shape/  @sunbees
frameworks/core/components_ng/pattern/side_bar/  @tsj_2020
frameworks/core/components_ng/pattern/slider/  @cheng-feiwang
frameworks/core/components_ng/pattern/stack/  @nickyjd
frameworks/core/components_ng/pattern/stage/  @yan-shuifeng
frameworks/core/components_ng/pattern/stepper/  @tsj_2020
frameworks/core/components_ng/pattern/swiper/  @xuzhidan
frameworks/core/components_ng/pattern/swiper_indicator/  @xuzhidan
frameworks/core/components_ng/pattern/tabs/  @xuzhidan
frameworks/core/components_ng/pattern/text/  @lijuan124
frameworks/core/components_ng/pattern/text_clock/  @lijuan124
frameworks/core/components_ng/pattern/text_drag/  @zhaojian2021
frameworks/core/components_ng/pattern/text_field/  @xiexiyun
frameworks/core/components_ng/pattern/text_picker/  @cheng-feiwang
frameworks/core/components_ng/pattern/texttimer/  @lijuan124
frameworks/core/components_ng/pattern/time_picker/  @cheng-feiwang
frameworks/core/components_ng/pattern/toast/  @cheng-feiwang
frameworks/core/components_ng/pattern/toggle/  @zhang-xiao150
frameworks/core/components_ng/pattern/ui_extension/  @lushi1202
frameworks/core/components_ng/pattern/video/  @xzken
frameworks/core/components_ng/pattern/view_context/  @hehongyang9
frameworks/core/components_ng/pattern/waterflow/  @zcdqs
frameworks/core/components_ng/pattern/web/  @LongLie
frameworks/core/components_ng/pattern/window_scene/  @liuchao92
frameworks/core/components_ng/pattern/xcomponent/  @sunbees
frameworks/core/components/ability_component/  @lushi1202
frameworks/core/components/align/  @yangfan229
frameworks/core/components/arc/  @aryawang
frameworks/core/components/badge/  @nickyjd
frameworks/core/components/box/  @yangfan229
frameworks/core/components/bubble/  @cheng-feiwang
frameworks/core/components/button/  @zhang-xiao150
frameworks/core/components/calendar/  @techbuilding
frameworks/core/components/camera/  @cc520bf
frameworks/core/components/chart/  @zhang-xiao150
frameworks/core/components/checkable/  @zhang-xiao150
frameworks/core/components/clip/  @cc520bf
frameworks/core/components/clock/  @zhoutianer
frameworks/core/components/common/  @yan-shuifeng
frameworks/core/components/container_modal/  @cc520bf
frameworks/core/components/counter/  @zhang-xiao150
frameworks/core/components/coverage/  @
frameworks/core/components/custom_dialog/  @cheng-feiwang
frameworks/core/components/custom_paint/  @keerecles
frameworks/core/components/data_panel/  @xzken
frameworks/core/components/declaration/  @cc520bf
frameworks/core/components/dialog/  @cheng-feiwang
frameworks/core/components/dialog_modal/  @cheng-feiwang
frameworks/core/components/dialog_tween/  @cheng-feiwang
frameworks/core/components/display/  @
frameworks/core/components/divider/  @zhang-xiao150
frameworks/core/components/drag_bar/  @
frameworks/core/components/drop_filter/  @
frameworks/core/components/flex/  @yangfan229
frameworks/core/components/focus_animation/  @catpoison
frameworks/core/components/focus_collaboration/  @catpoison
frameworks/core/components/focusable/  @catpoison
frameworks/core/components/font/  @jyj-0306
frameworks/core/components/foreach/  @yan-shuifeng
frameworks/core/components/form/  @wangchensu1
frameworks/core/components/gesture_listener/  @zheng-qiyi
frameworks/core/components/grid/  @zcdqs
frameworks/core/components/grid_layout/  @zcdqs
frameworks/core/components/hyperlink/  @techbuilding
frameworks/core/components/ifelse/  @yan-shuifeng
frameworks/core/components/image/  @zhoutianer
frameworks/core/components/indexer/  @aryawang
frameworks/core/components/list/  @yeyinglong_admin
frameworks/core/components/marquee/  @aryawang
frameworks/core/components/menu/  @cheng-feiwang
frameworks/core/components/mouse_listener/  @catpoison
frameworks/core/components/multimodal/  @
frameworks/core/components/navigation_bar/  @Armstrong15
frameworks/core/components/navigator/  @Armstrong15
frameworks/core/components/option/  @cheng-feiwang
frameworks/core/components/overlay/  @yangfan229
frameworks/core/components/padding/  @yangfan229
frameworks/core/components/page/  @yan-shuifeng
frameworks/core/components/page_transition/  @hehongyang9
frameworks/core/components/panel/  @zhou-chaobo
frameworks/core/components/picker/  @cheng-feiwang
frameworks/core/components/piece/  @cheng-feiwang
frameworks/core/components/plugin/  @wangchensu1
frameworks/core/components/popup/  @fengjituo111
frameworks/core/components/positioned/  @yangfan229
frameworks/core/components/progress/  @cheng-feiwang
frameworks/core/components/proxy/  @yan-shuifeng
frameworks/core/components/qrcode/  @techbuilding
frameworks/core/components/rating/  @cheng-feiwang
frameworks/core/components/refresh/  @aryawang
frameworks/core/components/relative_container/  @nickyjd
frameworks/core/components/remote_window/  @liuchao92
frameworks/core/components/rich_text/  @LongLie
frameworks/core/components/root/  @yan-shuifeng
frameworks/core/components/scene_viewer/  @
frameworks/core/components/scoring/  @yeyinglong_admin
frameworks/core/components/scroll/  @yeyinglong_admin
frameworks/core/components/scroll_bar/  @rongShao-Z
frameworks/core/components/search/  @zhang-xiao150
frameworks/core/components/select/  @cheng-feiwang
frameworks/core/components/select_popup/  @cheng-feiwang
frameworks/core/components/semi_modal/  @
frameworks/core/components/shadow/  @
frameworks/core/components/shape/  @sunbees
frameworks/core/components/shared_transition/  @hehongyang9
frameworks/core/components/sheet/  @cheng-feiwang
frameworks/core/components/side_bar/  @tsj_2020
frameworks/core/components/slider/  @cheng-feiwang
frameworks/core/components/split_container/  @
frameworks/core/components/stack/  @nickyjd
frameworks/core/components/stage/  @yan-shuifeng
frameworks/core/components/stepper/  @tsj_2020
frameworks/core/components/svg/  @zhoutianer
frameworks/core/components/swiper/  @xuzhidan
frameworks/core/components/tab_bar/  @xuzhidan
frameworks/core/components/text/  @lijuan124
frameworks/core/components/text_clock/  @lijuan124
frameworks/core/components/text_field/  @xiexiyun
frameworks/core/components/text_overlay/  @yangfan229
frameworks/core/components/text_span/  @lijuan124
frameworks/core/components/texttimer/  @lijuan124
frameworks/core/components/theme/  @yan-shuifeng
frameworks/core/components/tip/  @
frameworks/core/components/toast/  @
frameworks/core/components/toggle/  @zhang-xiao150
frameworks/core/components/tool_bar/  @
frameworks/core/components/touch_listener/  @zheng-qiyi
frameworks/core/components/track/  @cheng-feiwang
frameworks/core/components/transform/  @
frameworks/core/components/transition/  @
frameworks/core/components/triangle/  @
frameworks/core/components/tween/  @hehongyang9
frameworks/core/components/video/  @xzken
frameworks/core/components/watch_slider/  @cheng-feiwang
frameworks/core/components/web/  @LongLie
frameworks/core/components/wrap/  @yangfan229
frameworks/core/components/xcomponent/  @sunbees

[Accessibility source]
frameworks/core/accessibility/  @zcdqs

[Animations source]
frameworks/core/animation/  @hehongyang9
frameworks/core/components_ng/animation/  @hehongyang9

[Event source]
frameworks/core/event/  @zhaojian2021 @catpoison
frameworks/core/focus/  @catpoison
frameworks/core/components_ng/event/  @zhaojian2021 @catpoison
frameworks/core/components_ng/event/drag_event.cpp  @zhaojian2021
frameworks/core/components_ng/event/gesture_event_hub.cpp  @zhaojian2021
frameworks/core/components_ng/manager/drag_drop/drag_drop_manager.cpp  @zhaojian2021

[Gestures source]
frameworks/core/gestures/  @zheng-qiyi
frameworks/core/components_ng/gestures/  @zheng-qiyi

[Image source]
frameworks/core/image/  @zhoutianer
frameworks/core/components_ng/image_provider/  @zhoutianer
frameworks/core/components_ng/svg/  @zhoutianer

[Advanced UI Components]
advanced_ui_component/ @youzhi92

[Build configs]
build/ @sunfei2021
ace_config.gni @sunfei2021
BUILD.gn @sunfei2021
bundle.json @sunfei2021
frameworks/core/components_ng/render/BUILD.gn  @sunfei2021
frameworks/core/components_ng/gestures/BUILD.gn  @sunfei2021
frameworks/core/components_ng/syntax/BUILD.gn  @sunfei2021
frameworks/core/components_ng/event/BUILD.gn  @sunfei2021
frameworks/core/components_ng/base/BUILD.gn  @sunfei2021
frameworks/core/components_ng/animation/BUILD.gn  @sunfei2021
frameworks/core/components_ng/property/BUILD.gn  @sunfei2021
frameworks/core/components_ng/manager/BUILD.gn  @sunfei2021
frameworks/core/components_ng/svg/BUILD.gn  @sunfei2021
frameworks/core/components_ng/common_napi_utils/BUILD.gn  @sunfei2021
frameworks/core/components_ng/image_provider/BUILD.gn  @sunfei2021
frameworks/core/components_ng/layout/BUILD.gn  @sunfei2021
frameworks/core/pipeline/BUILD.gn  @sunfei2021
frameworks/core/pipeline_ng/BUILD.gn  @sunfei2021
frameworks/core/BUILD.gn  @sunfei2021
frameworks/base/base64/BUILD.gn  @sunfei2021
frameworks/base/resource/BUILD.gn  @sunfei2021
frameworks/base/i18n/BUILD.gn  @sunfei2021
frameworks/base/BUILD.gn  @sunfei2021
frameworks/base/network/BUILD.gn  @sunfei2021
frameworks/bridge/js_frontend/BUILD.gn  @sunfei2021
frameworks/bridge/js_frontend/engine/jsi/BUILD.gn  @sunfei2021
frameworks/bridge/js_frontend/engine/BUILD.gn  @sunfei2021
frameworks/bridge/card_frontend/BUILD.gn  @sunfei2021
frameworks/bridge/declarative_frontend/BUILD.gn  @sunfei2021
frameworks/bridge/declarative_frontend/engine/jsi/BUILD.gn  @sunfei2021
frameworks/bridge/codec/BUILD.gn  @sunfei2021
frameworks/bridge/plugin_frontend/BUILD.gn  @sunfei2021
frameworks/bridge/BUILD.gn  @sunfei2021
frameworks/bridge/common/accessibility/BUILD.gn  @sunfei2021
frameworks/bridge/common/BUILD.gn  @sunfei2021
frameworks/core/components_ng/components_plugin.gni  @sunfei2021
frameworks/core/components_ng/components.gni  @sunfei2021

[Test source]
frameworks/bridge/test/  @liyujie43
test/mock/  @liyujie43
test/unittest/  @liyujie43
frameworks/core/components_ng/test/pattern/ability_component/  @lushi1202
frameworks/core/components_ng/test/pattern/action_sheet/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/animator/  @suiwuyue
frameworks/core/components_ng/test/pattern/app_bar/  @suiwuyue
frameworks/core/components_ng/test/pattern/badge/  @nickyjd
frameworks/core/components_ng/test/pattern/blank/  @xiexiyun
frameworks/core/components_ng/test/pattern/bubble/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/button/  @zhang-xiao150
frameworks/core/components_ng/test/pattern/calendar/  @techbuilding
frameworks/core/components_ng/test/pattern/canvas_context/  @keerecles
frameworks/core/components_ng/test/pattern/canvas_renderer/  @keerecles
frameworks/core/components_ng/test/pattern/checkbox/  @zhang-xiao150
frameworks/core/components_ng/test/pattern/checkboxgroup/  @zhang-xiao150
frameworks/core/components_ng/test/pattern/common_view/  @yangfan229
frameworks/core/components_ng/test/pattern/container_modal/  @suiwuyue
frameworks/core/components_ng/test/pattern/counter/  @zhang-xiao150
frameworks/core/components_ng/test/pattern/custom/  @yan-shuifeng
frameworks/core/components_ng/test/pattern/custom_paint/  @keerecles
frameworks/core/components_ng/test/pattern/data_panel/  @jinweiliu
frameworks/core/components_ng/test/pattern/dialog/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/divider/  @zhang-xiao150
frameworks/core/components_ng/test/pattern/effect_component/  @liuchao92
frameworks/core/components_ng/test/pattern/flex/  @yangfan229
frameworks/core/components_ng/test/pattern/form/  @wangchensu1
frameworks/core/components_ng/test/pattern/gauge/  @zhang-xiao150
frameworks/core/components_ng/test/pattern/gesture/  @zheng-qiyi
frameworks/core/components_ng/test/pattern/grid/  @suiwuyue
frameworks/core/components_ng/test/pattern/grid_col/  @xiexiyun
frameworks/core/components_ng/test/pattern/grid_container/  @xiexiyun
frameworks/core/components_ng/test/pattern/grid_row/  @xiexiyun
frameworks/core/components_ng/test/pattern/hyperlink/  @jinweiliu
frameworks/core/components_ng/test/pattern/image/  @zhoutianer
frameworks/core/components_ng/test/pattern/image_animator/  @suiwuyue
frameworks/core/components_ng/test/pattern/indexer/  @suiwuyue
frameworks/core/components_ng/test/pattern/linear_layout/  @xiexiyun
frameworks/core/components_ng/test/pattern/linear_split/  @xiexiyun
frameworks/core/components_ng/test/pattern/list/  @suiwuyue
frameworks/core/components_ng/test/pattern/loading_progress/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/marquee/  @aryawang
frameworks/core/components_ng/test/pattern/menu/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/model/ @
frameworks/core/components_ng/test/pattern/navigation/  @Armstrong15
frameworks/core/components_ng/test/pattern/navigator/  @Armstrong15
frameworks/core/components_ng/test/pattern/navrouter/  @Armstrong15
frameworks/core/components_ng/test/pattern/option/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/overlay/  @yangfan229
frameworks/core/components_ng/test/pattern/panel/  @zhou-chaobo
frameworks/core/components_ng/test/pattern/patternlock/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/picker/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/plugin/  @wangchensu1
frameworks/core/components_ng/test/pattern/preview_mock/  @laigerendaqiu
frameworks/core/components_ng/test/pattern/progress/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/qrcode/  @jinweiliu
frameworks/core/components_ng/test/pattern/radio/  @zhang-xiao150
frameworks/core/components_ng/test/pattern/rating/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/recycle_view/  @guozejun
frameworks/core/components_ng/test/pattern/refresh/  @suiwuyue
frameworks/core/components_ng/test/pattern/relative_container/  @nickyjd
frameworks/core/components_ng/test/pattern/remote_window/  @liuchao92
frameworks/core/components_ng/test/pattern/rendering_context/  @keerecles
frameworks/core/components_ng/test/pattern/rich_editor/  @jyj-0306
frameworks/core/components_ng/test/pattern/root/  @yan-shuifeng
frameworks/core/components_ng/test/pattern/scroll/  @suiwuyue
frameworks/core/components_ng/test/pattern/scroll_bar/  @suiwuyue
frameworks/core/components_ng/test/pattern/scrollable/  @suiwuyue
frameworks/core/components_ng/test/pattern/search/  @zhang-xiao150
frameworks/core/components_ng/test/pattern/security_component/ @
frameworks/core/components_ng/test/pattern/select/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/select_overlay/   @cheng-feiwang
frameworks/core/components_ng/test/pattern/shape/  @sunbees
frameworks/core/components_ng/test/pattern/side_bar/  @tsj_2020
frameworks/core/components_ng/test/pattern/slider/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/stack/  @nickyjd
frameworks/core/components_ng/test/pattern/stage/  @yan-shuifeng
frameworks/core/components_ng/test/pattern/stepper/  @tsj_2020
frameworks/core/components_ng/test/pattern/swiper/  @xuzhidan
frameworks/core/components_ng/test/pattern/swiper_indicator/  @xuzhidan
frameworks/core/components_ng/test/pattern/tabs/  @xuzhidan
frameworks/core/components_ng/test/pattern/text/  @lijuan124
frameworks/core/components_ng/test/pattern/text_clock/  @lijuan124
frameworks/core/components_ng/test/pattern/text_drag/  @zhaojian2021
frameworks/core/components_ng/test/pattern/text_field/  @xiexiyun
frameworks/core/components_ng/test/pattern/text_picker/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/texttimer/  @lijuan124
frameworks/core/components_ng/test/pattern/time_picker/  @cheng-feiwang
frameworks/core/components_ng/test/pattern/toast/ @
frameworks/core/components_ng/test/pattern/toggle/  @zhang-xiao150
frameworks/core/components_ng/test/pattern/ui_extension/  @lushi1202
frameworks/core/components_ng/test/pattern/video/  @jinweiliu
frameworks/core/components_ng/test/pattern/view_context/  @hehongyang9
frameworks/core/components_ng/test/pattern/waterflow/  @suiwuyue
frameworks/core/components_ng/test/pattern/web/  @LongLie
frameworks/core/components_ng/test/pattern/window_scene/  @liuchao92
frameworks/core/components_ng/test/pattern/xcomponent/  @sunbees
frameworks/core/components_ng/test/event/  @zhaojian2021 @catpoison
frameworks/core/components_ng/test/syntax/  @yan-shuifeng @lightningHo
frameworks/core/components_ng/test/svg/  @zhoutianer
frameworks/core/components_ng/test/image_provider/  @zhoutianer
frameworks/core/components_ng/test/animation/  @suiwuyue
